/* this is the universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* this is the body */
body {
    background-color: #d9dcd6;
}

/* this is the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    list-style-type: none;
}

/* this sets the display and font-size properties for h1 in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* used the span element to change the color of the text "seo" in h1 for "Horiseon" */
span {
    color: #d9dcd6;
}

/* this sets padding-top, margin-right, float, font-family, and font-size for the nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* this sets the display property and margin property for the unordered list in the header */
li {
    display: inline-block;
    margin-left: 25px;
}

/* this is the text properties for the links in the unordered list in the nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* this sets the font size in the paragraph elements in the nav bar */
p {
    font-size: 16px;
}

/* this selector sets the height, width, margin-bottom, background image, background size, and background position for the background of the webpage */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* this sets the margin-bottom property and font-size in the main section h2 elements */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* this selecgtor sets the width, display property, and margin-left for the main section */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* this sets the main section under the figure section and on the left portion of the screen adjusting padding, position, and size */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* controls image size in main section */
main section img {
    max-height: 200px;
}

/* this sets the img in search-enging-optimization and social-media-marketing to float to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* this sets the img in online-reputation-management to float to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* this is the sidebar */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* this sets the sidebar margin-bottom and color  */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* this sets the margin-bottom and text-align for the h3 in the sidebar section */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* this sets the properties for the imgs in the sidebar section */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* this is the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* this sets the font-size for the footer */
footer h2 {
    font-size: 20px;
}